#block_h1,
#block_h2,
#block_h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: rgba(215, 255, 215, 0.4);
}

a {
    text-decoration: none;
    color: green;

    img {
        border: 2px solid rgb(2, 61, 15);
        border-radius: 10px;
        padding: 5px;
        width: 400px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    img:hover {
        border-color: transparent;
    }
}

body {
    background-color: #87f08b;
    height: 100%;

    h2 {
        clear: both;
    }
}

body::-webkit-scrollbar {
    display: none;
}

form {
    float: left;
}

html {
    height: 100%;
}

input[type="email"] {
    background-color: wheat;
}

ul a:hover {
    color: rgb(42, 192, 42);
}


.area {
    color: rgb(4, 99, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}

.button_buy {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button_buy:hover {
    background-color: #56c95a;
}

.button_buy:active {
    background-color: #367e39;
}

.cat_keyboard,
.cat_mouse,
.cat_headphone {
    display: inline-table;
    margin-left: 20px;
    margin-right: 20px;
}

.category {
    img {
        border: 2px solid rgb(2, 61, 15);
        border-radius: 10px;
        padding: 5px;
        width: 200px;
    }

    p::first-letter {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    height: 80px;
    background: linear-gradient(to right, #3A6073, #16222A);

    a {
        color: white;
    }

    ul {

        float: right;
        display: inline-flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;

        li {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

}

.content {
    flex: 1 0 auto;

    width: 1200px;
    margin: 30px auto;

    .main {
        text-align: center;
        height: 500px;

        h1,
        h2 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(7, 71, 36);
        }
    }
}

.footer {
    flex: 0 0 auto;

    clear: both;
    height: 30px;
    background-color: #10813b;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.descrip {
    border: 2px solid black;
    border-spacing: 0px;
    text-align: center;
    width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(104, 167, 104);

    td {
        border: 1px solid black;
        width: 100px;
        height: 25px;
    }
}


.field {
    width: 300px;
    height: 25px;
    color: rgb(4, 99, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
}

.field::first-letter {
    text-transform: uppercase;
}



.full_desc {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}



.logo {
    float: left;
    margin: 10px;

}

.menu {
    list-style-type: none;
}


.short_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.spec {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-image: url('/img/marker.png');
}